/* =================================
    Common
================================= */
* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #c1efff 0%, #ffffff 50%, #d7eacc 100%);
}

.section {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.92);
    box-shadow:
        0 0 40px rgba(255, 255, 255, 0.7),
        0 8px 25px rgba(0, 0, 0, 0.07);
}

.inner {
    max-width: 960px;
    margin: 0 auto;
}

/* =================================
    Header
================================= */
.header {
    background-color: #00b0f0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0 50px;
    margin: 0 auto;
}

.header__nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
}

.header__text {
    text-decoration: none;
    color: #404040;
    font-weight: bold;
}

/* =================================
    Hero
================================= */
.hero .inner {
    display: flex;
    align-items: center;
    gap: 60px;
}

.hero__image img {
    display: block;
    width: 150px;
    height: auto;
}

.hero__sub-title {
    margin: 0 0 16px;
    font-size: 1.5rem;
    font-weight: 500;
}

.hero__title {
    margin: 0 0 32px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
}

.hero__text {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.8;
}

/* =================================
   About
================================= */

/* =================================
   Skills
================================= */

/* =================================
   Works
================================= */

/* =================================
   Contact
================================= */

/* =================================
   Footer
================================= */
